html,body{
    width:100%;height:100%;overflow: hidden;background:url(../images/beijing4.png) no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
}
.yun{
    width: 1000px;
    height: 100px;
    position: fixed;
    top:0;
    left:180px;
    background: url(../images/yun.png) no-repeat;
    background-size:cover;
    z-index: 9999;
}
.message{
    width: 200px;
    height: 150px;
    position: fixed;
    top:10px;
    right:10px;
}
.start{
    width: 100%;height: 100%;
    position: relative;
    z-index: 100;
}
.select{
    width: 200px;height: 150px;
    position: absolute;right: 43%;bottom: 150px;
}
.cv{
    width:180px;height: 30px;
    text-align: center;line-height: 30px;
    margin-left: 10px;
    font-size: 20px;color:black;overflow:hidden;
    font-weight: bold;
    font-family: "方正粗活意简体"!important;
}
.select span:nth-of-type(2){
    animation:donghua 2s linear 2s forwards;
}
@-webkit-keyframes donghua{
    0%{
        width:0;
    }
    100%{
        width:100px;
    }
}
.select input{
    display: block;
    width: 150px;height: 20px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;color: white;
    background: #03A9F4;
}
#start{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(../images/play.png);
    background-size: cover;
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 47%;
    font-weight: bold;
}
.text{
    position: fixed;left: 44%;top: 25%;
}
.aa{
    height:50px;width:100%;text-align:center;line-height:50px;margin-top: 5px;
}
.ss{
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-family: "Star Jedi"!important;
}
.fenshu{
    width: 50px;
    height: 50px;
    float: right;
    background: url(../images/beijing6.png);
    background-size: cover;
}
.v{
    background: url(../images/guanka.png);
    background-size: cover;
}
@-webkit-keyframes dong{
    0%{
        width:0;
    }
    100%{
        width:445px;
    }
}
.next{
    width: 532px;height: 300px;
    position: fixed;left: 0;top: 0;right: 0;bottom: 0;margin: auto auto;
    background: url(../images/64.jpg) no-repeat 0 0;
    background-size: cover;
    display: none;opacity: 0;
    z-index: 100;
}
.next img{
    position: absolute;top: 100px;right: 130px;
}
.mes{
    width: 150px;height: 100px;
    position: absolute;top: 120px;left: 193px;
    font-size: 20px;color: #000;font-family: "微软雅黑"
}
#go{
    display: block;
    width: 75px;
    height: 25px;
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: 51px;
    left: 243px;
    font-size: 22px;
}
.fail{
    width: 532px;height: 300px;
    position: fixed;left: 0;top: 0;right: 0;bottom: 0;margin: auto auto;
    display: none;opacity: 0;
    z-index: 100;
    background:url(../images/64.jpg);
    background-size: cover;
}
.fail img{
    position: absolute;top: 100px;right: 130px;
}
.come{
    width: 100%;
    height: 100px;
    background: url(../images/11.png);
}
.tupian{
    width: 75px;
    height: 75px;
    margin: 0 auto;
    background: url(../images/ku.gif);
}
.score{
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #381a07;
    font-weight: bold;
}
.score p{
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 24px;
    height: 20px;
    color: white;
}
.score>.p{
    display: block;
    text-align: center;
    font-size: 20px;
}
.score>#again{
    display: block;
    text-align: center;
    font-size: 20px;
}
#again{
    display: block;
    width: 85px;
    height: 25px;
    position: absolute;
    bottom: 20px;
    left: 230px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.back,.close{
    display: block;
    width: 20px;height: 20px;text-decoration:none;color:#ccbd8d;font-size:30px;font-family:Arial;font-weight:500;
    position: absolute;top: 11px;right: 67px;
}

#dianji{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    left:20px;
    background: url(../images/audio.png);
    background-size: cover;
}
.kaishi{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    background: url(../images/ws.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
}
.sheng{
    background: url(../images/shengmin.png);
    background-size: cover;
}